.body {
  display: flex;
  flex-direction: column;
}

.salon {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 90px;
  margin-left: 142px;

  .name {
    margin: 0;
    font-size: 20px;
  }
}

.service {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 122px;
  gap: 24px;
}

.service-type {
  display: flex;
  flex-direction: row;
  margin-left: 37px;
  margin-right: 112px;
  justify-content: space-between;

  img {
    width: 25px;
  }
}

.service-type-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .name {
    font-size: 16px;
    font-weight: 550;
    font-family: "Inter", sans-serif;
  }
}

.service-description {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;

  .price {
    font-size: 16px;
  }

  .time {
    font-size: 14px;
  }
}

.masters {
  display: grid;
  grid-template-columns: repeat(5, 0.1fr);
  gap: 21px 50px;
  margin-left: 122px;
  margin-top: 80px;
}

.master {
  width: 182px;
  height: 224px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  /* background-color: lightcoral; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  img {
    width: 97px;
    height: 97px;
    margin-top: 23px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }
}

.master:hover,
.master:focus {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 31px;
  margin-bottom: 27px;
  width: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 62px auto 156px;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: fit-content;
  p {
    font-size: 15px;
    color: #666666;
  }

  input {
    width: 372px;
    height: 52px;
    border-radius: 10px;
    border: 0.5px solid #666;
    font-size: 16px;
    padding-left: 8px;
  }

  textarea {
    width: 785px;
    height: 78px;
    border-radius: 10px;
    border: 0.5px solid #666;
    font-size: 16px;
    padding-left: 8px;
    padding-top: 8px;
  }
}

.submit-btn {
  background-color: #F186AD;
  color: white;
  border: none;
  padding: 10px;
  width: 208px;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  margin-top: 80px;
}

input[type=datetime-local] {
  width: fit-content;
  margin-left: 50px;
}

.date-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin-top: 62px;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
  width: fit-content;
}

.time-slots button {
  border: 1px solid #ccc;
  padding: 5px 20px;
  background-color: white;
  cursor: pointer;
  border-radius: 8px;
  height: fit-content;
}

.time-slots button.selected {
  background-color: #F186AD;
  color: white;
}

.master.selected {
  border: 2px solid #F186AD;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.submit-btn:disabled {
  background: #666;
  cursor: not-allowed;
}
