<div class="body">
  <div class="salon" *ngIf="business">
    <h3 class="name">{{ business?.name }}</h3>
    <p class="inter-common thin-font">{{ business?.category || 'Салон красоты' }}</p>
  </div>

  <h2 class="general-title montserrat-test">Выберите мастера</h2>

  <div class="services" *ngIf="service">
    <div class="service-type">
      <div class="service-type-info">
        <p class="name">{{ service?.name }}</p>
        <div class="service-description thin-font">
          <p class="price">{{ service?.lowestPrice }} ₸ - {{ service?.highestPrice }} ₸</p>
          <p class="time">{{ service?.duration }} минут</p>
        </div>
      </div>
      <img src="close.svg" alt="Arrow right">
    </div>
  </div>

  <div class="masters">
    <div class="master">
      <img class="master-any-img">
      <p>Любой мастер</p>
    </div>
    <div class="master" *ngFor="let s of staff">
      <img class="master-any-img">
      <p>{{ s.name }}</p>
    </div>
  </div>

  <h2 class="general-title montserrat-test">Выберите дату</h2>

  <div class="time-slots">
    <button *ngFor="let time of availableTimes" (click)="selectTime(time)" [class.selected]="time === selectedTime">
      {{ time }}
    </button>
  </div>

  <h2 class="general-title montserrat-test">Контактные данные</h2>

  <div class="form-container">
    <div class="contacts">
      <div class="form">
        <p class="inter-common">Имя:</p>
        <input type="text" id="name" placeholder="Введите имя">
      </div>
      <div class="form">
        <p class="inter-common">Телефон:</p>
        <input type="tel" id="phone" placeholder="Введите телефон">
      </div>
    </div>
    <div class="form">
      <p class="inter-common field">Оставьте комментарий:</p>
      <textarea id="comment" placeholder="Комментарий"></textarea>
    </div>
    <button class="submit-btn">Записаться</button>
  </div>
</div>


