<div class="body">
    <div class="salon">
        <h3 class="name">IMPALA BEAUTY BRAND</h3>
        <p class="inter-common thin-font">Салон красоты</p>
    </div>
    <h2 class="general-title montserrat-test">Выберите мастера</h2>
    
    <div class="services">
        <div class="service-type">
            <div class="service-type-info">
                <p class="name">Стрижка женская</p>
                <div class="service-description thin-font">
                    <p class="price">10 000 ₸ - 15 000 ₸</p>
                    <p class="time">1 час</p>
                </div>
            </div>
            <img src="close.svg" alt="Arrow right">
        </div>
        <div class="service-type">
            <div class="service-type-info">
                <p class="name">Стрижка женская</p>
                <div class="service-description thin-font">
                    <p class="price">10 000 ₸ - 15 000 ₸</p>
                    <p class="time">1 час</p>
                </div>
            </div>
            <img src="close.svg" alt="Arrow right">
        </div>
    </div>
    
    <div class="masters">
        <div class="master">
            <img class="master-any-img">
            <p>Любой мастер</p>
        </div>
        <div class="master">
            <img class="master-img" alt="Master Photo">
            <p>Асель</p>
            <p class="rating">4.5 ★</p>
        </div>
        <div class="master">
            <img class="master-img" alt="Master Photo">
            <p>Асель</p>
            <p class="rating">4.5 ★</p>
        </div>
        <div class="master">
            <img class="master-img" alt="Master Photo">
            <p>Асель</p>
            <p class="rating">4.5 ★</p>
        </div>
        <div class="master">
            <img class="master-img" alt="Master Photo">
            <p>Асель</p>
            <p class="rating">4.5 ★</p>
        </div>
        <div class="master">
            <img class="master-img" alt="Master Photo">
            <p>Асель</p>
            <p class="rating">4.5 ★</p>
        </div>
    </div>
    
    <h2 class="general-title montserrat-test">Выберите дату</h2>

    <h2 class="general-title montserrat-test">Контактные данные</h2>
    
    <div class="form-container">
        <div class="contacts">
            <div class="form">
                <p class="inter-common">Имя:</p>
                <input type="text" id="name" placeholder="Введите имя">
            </div>
            <div class="form">
                <p class="inter-common">Телефон:</p>
                <input type="tel" id="phone" placeholder="Введите телефон">
            </div>
        </div>
        <div class="form">
            <p class="inter-common field">Оставьте комментарий:</p>
            <textarea id="comment" placeholder="Комментарий"></textarea>
        </div>
        <button class="submit-btn">Записаться</button>
    </div>
</div>


