<header [class.hidden]="isHidden">
  <div class="header-top">
    <div class="row">
      <a href="#"> <img src="logo.svg" alt="BeautyGo"> </a>
      <div class="header-right">
        <a [routerLink]="['business']" class="a-top">Стать партнёром</a>
        <a href="#" class="a-top">Контакты</a>
        <a class="a-top" (click)="toggleDropdown()">
          <img src="profile.svg" alt="Profile" class="profile-icon">
        </a>
      </div>
      <div class="mobile-actions" *ngIf="isWideScreen">
        <a class="a-top" (click)="toggleDropdown()">
          <img src="profile.svg" alt="Profile" class="profile-icon">
        </a>
        <div class="hamburger" (click)="toggleMobileMenu()" [class.active]="isMobileMenuOpen">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bot">
    <nav class="row nav-header" [class.active]="isMobileMenuOpen">
      <a href="#">Макияж</a>
      <a href="#">Ногтевой сервис</a>
      <a href="#">Парикмахерские услуги</a>
      <a href="#">Уход за телом</a>
      <a href="#">Брови</a>
      <a href="#">Ресницы</a>
      <a href="#">Удаление волос</a>
      <a href="#">Косметология</a>
      <a href="#">Тату</a>
      <a href="#">Пирсинг</a>
    </nav>
  </div>

  <div *ngIf="isDropdownOpen" class="dropdown-menu">
    <a routerLink="account" class="inter-common">Личный кабинет</a>
    <a routerLink="history" class="inter-common">История посещений</a>
    <a routerLink="./authentication" class="inter-common">Войти</a>
  </div>
</header>
