<header>
  <div class="header-top">
    <div class="row">
      <a href="#"> <img src="logo.svg" alt="BeautyGo"> </a>
      <div class="header-right">
        <a href="#" class="a-top">Стать партнёром</a>
        <a href="#" class="a-top">Стать партнёром</a>
        <a href="#" class="a-top" (click)="toggleDropdown()">
          <img src="profile.svg" alt="pfp">
        </a>
      </div>
    </div>
  </div>
  <div class="header-bot">
    <nav class="row nav-header">
      <a href="#">Макияж</a>
      <a href="#">Ногтевой сервис</a>
      <a href="#">Парикмахерские услуги</a>
      <a href="#">Уход за телом</a>
      <a href="#">Брови</a>
      <a href="#">Ресницы</a>
      <a href="#">Удаление волос</a>
      <a href="#">Косметология</a>
      <a href="#">Тату</a>
      <a href="#">Пирсинг</a>
    </nav>
  </div>

  <div *ngIf="isDropdownOpen" class="dropdown-menu">
    <a href="#" class="inter-common">Личный кабинет</a>
    <a href="#" class="inter-common">История посещений</a>
    <a href="#" class="inter-common">Войти/Выйти</a>
  </div>
</header>
