<!-- src/app/salon/salon.component.html -->
<div class="box" *ngIf="business">
  <div class="info thin-border">
    <div class="description">
      <h3 class="name">{{ business.name }}</h3>
      <div class="rate">
        <p class="rating name">{{ business.averageRating !== undefined ? business.averageRating + ' ★' : 'Оценок нет' }}</p>
        <p class="thin-font">{{ totalReviews }} оценок</p>
      </div>

      <div class="contacts">
        <p class="name">О нас</p>
        <div class="contact">
          <img src="phone_call.svg" alt="Phone">
          <p class="thin-font">{{ business.phone }}</p>
        </div>
        <div class="contact">
          <img src="instagram.svg" alt="Instagram">
          <p class="thin-font">Instagram</p>
        </div>
        <div class="contact">
          <img src="location.svg" alt="Location">
          <p class="thin-font">{{ business.address }}</p>
        </div>
      </div>
      <div class="map">
        <img src="map.png" alt="Map">
      </div>
      <button class="apply-btn">Записаться</button>
    </div>
  </div>

  <div class="photos">
    <img class="main-img" [src]="getBusinessImage()" alt="Салон красоты">
    <div class="carousel">
      <img class="arrow" src="arrow_left.svg" alt="Arrow left">
      <div class="carousel-photos">
        <img class="carousel-img" *ngFor="let image of getCarouselImages()" [src]="image" alt="Салон красоты">
      </div>
      <img class="arrow" src="arrow_right.svg" alt="Arrow right">
    </div>
  </div>
</div>

<div class="services">
  <h2 class="general-title montserrat-test">Услуги</h2>
  <div class="service" *ngFor="let topic of groupedServices | keyvalue">
    <h2>{{topic.key}}</h2>
    <div *ngFor="let service of topic.value">
      <a [routerLink]="['appointment', service.id]" class="service-type">
        <div class="service-type-info">
          <p class="name">{{service.name}}</p>
          <div class="service-description thin-font">
            <p class="price" *ngIf="service.highestPrice != 0">{{ service.lowestPrice }} ₸{{ service.highestPrice !== service.lowestPrice ? ' - ' + service.highestPrice + ' ₸' : '' }}</p>
            <p class="price" *ngIf="service.highestPrice == 0">Бесплатно</p>
            <p class="time">{{this.formatDuration(service.duration)}}</p>
          </div>
        </div>
        <img src="arrow_right.svg" alt="Arrow right">
      </a>
    </div>
  </div>
</div>

<div class="reviews">
  <h2 class="general-title montserrat-test">Отзывы</h2>
  <p class="inter-common rating">Рейтинг: {{ business.averageRating !== undefined ? business.averageRating + '/5' : 'Оценок нет' }}★</p>

  <div class="review-list">
    <div class="review thin-border" *ngFor="let review of reviews">
      <div class="profile">
        <img class="profile-img" src="pfp_placeholder.png" alt="Profile">
        <p class="inter-common thin-font">{{ review.customerName }}</p>
        <p class="stars">{{ getStarString(review.rating) }}</p>
      </div>
      <p class="comment thin-font">{{ review.comment || 'Без комментария' }}</p>
      <p class="date thin-font">{{ formatReviewDate(review.createdAt) }}</p>
    </div>
    <div class="review thin-border" *ngIf="reviews.length === 0">
      <p class="inter-common thin-font">Отзывов пока нет</p>
    </div>
  </div>

  <div class="about">
    <h2 class="general-title montserrat-test">О нас</h2>
    <p>{{ this.business.description || 'Описание отсутствует' }}</p>
  </div>
</div>
