<div class="box" *ngIf="business">
  <div class="info thin-border">
    <div class="description">
      <h3 class="name">{{ business.name }}</h3>
      <div class="rate">
        <p class="rating name">4.0 ★</p>
        <p class="thin-font">300 оценок</p>
      </div>

      <div class="contacts">
        <p class="name">О нас</p>
        <div class="contact">
          <img src="phone_call.svg" alt="Phone">
          <p class="thin-font">{{ business.phone }}</p>
        </div>
        <div class="contact">
          <img src="instagram.svg" alt="Instagram">
          <p class="thin-font">Instagram</p>
        </div>
        <div class="contact">
          <img src="location.svg" alt="Location">
          <p class="thin-font">{{ business.address }}</p>
        </div>
      </div>
      <div class="map">
        <img src="map.png" alt="Map">
      </div>
      <button class="apply-btn">Записаться</button>
    </div>
  </div>

  <div class="photos">
    <img class="main-img" src="img.png" alt="Салон красоты">
    <div class="carousel">
      <img class="arrow" src="arrow_left.svg" alt="Arrow left">
      <div class="carousel-photos">
        <img class="carousel-img" src="img.png" alt="Салон красоты">
        <img class="carousel-img" src="img.png" alt="Салон красоты">
        <img class="carousel-img" src="img.png" alt="Салон красоты">
      </div>
      <img class="arrow" src="arrow_right.svg" alt="Arrow right">
    </div>
  </div>
</div>

<div class="services">
  <h2 class="general-title montserrat-test">Услуги</h2>
  <div class="search-bar">
    <img src="search.svg" alt="Search" class="search-img">
    <button class="search-btn">Искать</button>
  </div>

  <div class="service" *ngFor="let topic of groupedServices | keyvalue">
    <h2>{{topic.key}}</h2>
    <div *ngFor="let service of topic.value">
      <a [routerLink]="['appointment', service.id]" class="service-type">
        <div class="service-type-info">
          <p class="name">{{service.name}}</p>
          <div class="service-description thin-font">
            <p class="price" *ngIf="service.highestPrice != 0">{{ service.lowestPrice }} ₸{{ service.highestPrice !== service.lowestPrice ? ' - ' + service.highestPrice + ' ₸' : '' }}</p>
            <p class="price" *ngIf="service.highestPrice == 0">Бесплатно</p>
            <p class="time">{{this.formatDuration(service.duration)}}</p>
          </div>
        </div>
        <img src="arrow_right.svg" alt="Arrow right">
      </a>
    </div>
  </div>
</div>

<div class="reviews">
  <h2 class="general-title montserrat-test">Отзывы</h2>
  <p class="inter-common" class="rating">★ Рейтинг: 4.0/5.0</p>
  <div class="buttons">
    <button class="review-btn inter-common">Все</button>
    <button class="review-btn inter-common">Положительные</button>
    <button class="review-btn inter-common">Отрицательные</button>
  </div>

  <div class="review-list">

    <div class="review thin-border">
        <div class="profile">
          <img class="profile-img" src="profile.jpg" alt="Profile">
          <p class="inter-common thin-font">Айзада</p>
          <img class="stars" src="stars.svg" alt="5 stars">
        </div>

        <p class="comment thin-font">“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания, помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после процедуры выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение! Обязательно приду ещё раз.”</p>
        <p class="date thin-font">10.10.2010</p>
    </div>

  </div>

  <div class="about">
    <h2 class="general-title montserrat-test">О нас</h2>
    <p>{{this.business?.description}}</p>
  </div>

</div>

