<header>
  <a routerLink="/admin"><img src="logo_admin.svg" alt="beauty go admin"></a>
  <div class="header-right">
    <a routerLink="./requests">Заявки</a>
    <a routerLink="./reviews">Отзывы</a>
    <a class="a-top" (click)="toggleDropdown()">
      <img src="profile.svg" alt="pfp">
    </a>
  </div>

  <div *ngIf="isDropdownOpen" class="dropdown-menu">
    <a routerLink="account" class="inter-common">Личный кабинет</a>
    <a routerLink="./authentication" class="inter-common">Войти</a>
  </div>
</header>
