header {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*width: fit-content;*/
}

.header-right a{
  margin-left: 56px;
}

img {
  vertical-align: bottom;
}

.dropdown-menu {
  position: absolute;
  right: 10px;
  top: 80px;
  background: white;
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
}

.a-top{
  cursor: pointer;
}
