<h2 class="general-title montserrat-test">Отзывы</h2>

<div class="reviews-page">
  <div class="filters">
    <div class="filters-top">
      <img src="filter.svg" alt="Фильтры">
      <p class="filter-text">Фильтры</p>
    </div>
    <a class="clear">Очистить</a>
    <p class="filter-category">По статусу</p>
    <div class="filter-group">
      <div class="filter">
        <input type="checkbox" id="pending">
        <label for="pending">Ожидает проверки</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="published">
        <label for="published">Опубликован</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="blocked">
        <label for="blocked">Заблокирован</label>
      </div>
    </div>
    <p class="filter-category">Рейтинг</p>
    <div class="filter-group">
      <div class="filter">
        <input type="checkbox" id="5">
        <label for="5">С рейтингом 5</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="4">
        <label for="4">С рейтингом 4</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="3">
        <label for="3">С рейтингом 3</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="2">
        <label for="2">С рейтингом 2</label>
      </div>
      <div class="filter">
        <input type="checkbox" id="1">
        <label for="1">С рейтингом 1</label>
      </div>
    </div>
    <button class="btn-main">Применить</button>
  </div>
  <div class="right">
    <div class="reviews-top">
      <p class="inter-common">3 непроверенных отзыва</p>
      <app-dropdown
        [items]="orderby"
        [defaultText]="'По дате подачи'"
        [defaultIsSelectable]="true">
      </app-dropdown>
    </div>
    <div class="reviews">
      <div>
        <div class="review">
          <div class="review-top">
            <div class="profile">
              <div class="pfp-mask">
                <img class="profile-img" src="profile.svg" alt="Profile">
              </div>
              <div class="profile-text">
                <p class="inter-common">Название салона</p>
                <p class="inter-common specialist">Специалист</p>
              </div>
            </div>
            <app-stars [rating]="4"></app-stars>
          </div>
          <p class="comment">“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания,
            помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после
            процедуры
            выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение! Обязательно приду
            ещё
            раз.”</p>
          <div class="review-bottom">
            <p class="status">Ожидает проверки</p>
            <p class="name-date">Айзада Сатаева · 2 дня назад</p>
          </div>
          <div class="buttons">
            <button class="btn-main">Опубликовать</button>
            <button class="delete btn-main">Удалить</button>
          </div>
        </div>
      </div>

      <div>
        <div class="published review">
          <div class="review-top">
            <div class="profile">
              <div class="pfp-mask">
                <img class="profile-img" src="profile.svg" alt="Profile">
              </div>
              <div class="profile-text">
                <p class="inter-common">Название салона</p>
                <p class="inter-common specialist">Специалист</p>
              </div>
            </div>
            <app-stars [rating]="5"></app-stars>
          </div>
          <p class="comment">“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания,
            помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после
            процедуры
            выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение! Обязательно приду
            ещё
            раз.”</p>
          <div class="review-bottom">
            <p class="status">Опубликован</p>
            <p class="name-date">Айзада Сатаева · 2 дня назад</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
