<h2 class="general-title montserrat-test">Мои записи</h2>
<div class="container">
    <div class="history-tabs">
        <span>Текущие</span>
        <span>История</span>
    </div>
    <div class="line"></div>

    <div class="month"> 
        <p class="month-name inter-common">Октябрь 2024</p>
        
        <div class="cards-container">
            <div class="card">
                <p class="date inter-common">10.10.2024 в 13.00</p>
                <div class="description">
        
                    <div class="salon">
                        <div сlass="specification">
                            <p class="category">Салон красоты</p>
                            <p class="name">Oblako</p>
                        </div>
                        <div сlass="specification">
                            <p class="category">Услуга</p>
                            <p class="name">Маникюр Педикюр</p>
                        </div>
                    </div>
        
                    <div class="master">
                        <p class="category">Мастер</p>
                        <img class="master-img" src="" alt="Аватар">
                    </div>
                </div>
                <div class="btns">
                    <button class="btn inter-common">Оценить запись</button>
                    <button class="btn inter-common">Записаться</button>
                </div>
            </div>

            <div class="card">
                <p class="date inter-common">10.10.2024 в 13.00</p>
                <div class="description">
        
                    <div class="salon">
                        <div сlass="specification">
                            <p class="category">Салон красоты</p>
                            <p class="name">Oblako</p>
                        </div>
                        <div сlass="specification">
                            <p class="category">Услуга</p>
                            <p class="name">Маникюр Педикюр</p>
                        </div>
                    </div>
        
                    <div class="master">
                        <p class="category">Мастер</p>
                        <img class="master-img" src="" alt="Аватар">
                    </div>
                </div>
                <div class="btns">
                    <button class="btn inter-common">Оценить запись</button>
                    <button class="btn inter-common">Записаться</button>
                </div>
            </div>


            <div class="card">
                <p class="date inter-common">10.10.2024 в 13.00</p>
                <div class="description">
        
                    <div class="salon">
                        <div сlass="specification">
                            <p class="category">Салон красоты</p>
                            <p class="name">Oblako</p>
                        </div>
                        <div сlass="specification">
                            <p class="category">Услуга</p>
                            <p class="name">Маникюр Педикюр</p>
                        </div>
                    </div>
        
                    <div class="master">
                        <p class="category">Мастер</p>
                        <img class="master-img" src="" alt="Аватар">
                    </div>
                </div>
                <div class="btns">
                    <button class="btn inter-common">Оценить запись</button>
                    <button class="btn inter-common">Записаться</button>
                </div>
            </div>
        </div>
        
    </div>

    
</div>




