<div class="banner">
  <img src="img_1.png" alt="Banner image">
  <h1 class="montserrat-test banner-text">Онлайн-запись на услуги в сфере красоты</h1>
  <div class="search-box">
    <input type="text" class="search" placeholder="Поиск услуг" [formControl]="searchQuery" (keyup.enter)="search()">
    <button class="search-btn" (click)="search()">Искать</button>
  </div>
</div>

<div class="container">
  <h2 class="general-title montserrat-test">Категории</h2>
  <div class="category-cards">
    <div class="card">
      <p class="category-title">Парикмахерские услуги</p>
      <img src="scissors.svg" alt="Scissors" class="card-img">
    </div>
    <div class="card">
      <p class="category-title">Ногтевой сервис</p>
      <img src="hand.svg" alt="Nails" class="card-img">
    </div>
    <div class="card">
      <p class="category-title">Макияж</p>
      <img src="brush.svg" alt="Makeup" class="card-img">
    </div>
    <div class="card">
      <p class="category-title">Ресницы</p>
      <img src="eye.svg" alt="Eyelashes" class="card-img">
    </div>
    <div class="card">
      <p class="category-title">Удаление волос</p>
      <img src="hair.svg" alt="Hair removal" class="card-img">
    </div>
    <div class="card">
      <p class="category-title">Брови</p>
      <img src="eyebrow.svg" alt="Eyebrows" class="card-img">
    </div>
  </div>
</div>

<div class="container">
  <h2 class="general-title montserrat-test">Маникюр</h2>
  <div class="product-cards">
    <div class="product-card" *ngFor="let business of businesses">
      <a routerLink="/salon/{{business.id}}">
        <img [src]="getBusinessImage(business)" alt="Place">
        <div class="btm-text">
          <p class="place-name">{{business.name}}</p>
          <p class="grey-small">{{business.address}}</p>
          <p class="rating">{{business.averageRating !== undefined ? business.averageRating + ' ★' : 'Оценок нет'}}</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="general-title montserrat-test">Ногтевой сервис</h2>
  <div class="product-cards">
    <div class="product-card" *ngFor="let business of businesses">
      <a routerLink="/salon/{{business.id}}">
        <img [src]="getBusinessImage(business)" alt="Place">
        <div class="btm-text">
          <p class="place-name">{{business.name}}</p>
          <p class="grey-small">{{business.address}}</p>
          <p class="rating">{{business.averageRating !== undefined ? business.averageRating + ' ★' : 'Оценок нет'}}</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="general-title montserrat-test">Макияж</h2>
  <div class="product-cards">
    <div class="product-card" *ngFor="let business of businesses">
      <a routerLink="/salon/{{business.id}}">
        <img [src]="getBusinessImage(business)" alt="Place">
        <div class="btm-text">
          <p class="place-name">{{business.name}}</p>
          <p class="grey-small">{{business.address}}</p>
          <p class="rating">{{business.averageRating !== undefined ? business.averageRating + ' ★' : 'Оценок нет'}}</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="general-title montserrat-test">Последние отзывы</h2>
  <div class="review-cards">
    <div class="review-card">
      <div class="review-top">
        <img src="pfp_placeholder.png" alt="pfp">
        <div class="company-info">
          <p class="place-name">Название салона</p>
          <p class="grey-small">Специалист</p>
        </div>
        <div class="stars">
          <p>★★★★★</p>
        </div>
      </div>
      <div class="review-main">
        <p>“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания, помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после процедуры выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение!”</p>
      </div>
      <p class="grey-small review-bottom">Айзада Сатаева · 2 дня назад</p>
    </div>
    <div class="review-card">
      <div class="review-top">
        <img src="pfp_placeholder.png" alt="pfp">
        <div class="company-info">
          <p class="place-name">Название салона</p>
          <p class="grey-small">Специалист</p>
        </div>
        <div class="stars">
          <p>★★★★★</p>
        </div>
      </div>
      <div class="review-main">
        <p>“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания, помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после процедуры выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение!”</p>
      </div>
      <p class="grey-small review-bottom">Айзада Сатаева · 2 дня назад</p>
    </div>
    <div class="review-card">
      <div class="review-top">
        <img src="pfp_placeholder.png" alt="pfp">
        <div class="company-info">
          <p class="place-name">Название салона</p>
          <p class="grey-small">Специалист</p>
        </div>
        <div class="stars">
          <p>★★★★★</p>
        </div>
      </div>
      <div class="review-main">
        <p>“Осталась очень довольна услугой покраски волос! Мастер учёл все мои пожелания, помог подобрать идеальный оттенок и выполнил работу аккуратно. Цвет получился ровным, волосы после процедуры выглядят ухоженными и блестящими. Спасибо за профессионализм и внимательное отношение!”</p>
      </div>
      <p class="grey-small review-bottom">Айзада Сатаева · 2 дня назад</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="business-banner">
    <div class="business-left">
      <img src="logo_business.svg" alt="BeautyGo business">
      <h2 class="montserrat-test">Более 100 компаний в сфере красоты уже с нами!</h2>
    </div>
    <button class="btn" (click)="business()">Подробнее</button>
  </div>
</div>
