<h2 class="general-title montserrat-test">Салон</h2>

<div class="form-container">
  <div class="header">
    <h2>Фотографии салона</h2>
  </div>
  <div class="image-section">
    <div class="photos-upload">
      <div *ngFor="let photo of photoPreviews; let i = index" class="photo-slot">
        <label [for]="'photo-input-' + i">
          <img *ngIf="photo" [src]="photo" alt="Photo Preview" />
          <div *ngIf="!photo" class="placeholder">+</div>
        </label>
        <input [id]="'photo-input-' + i" type="file" (change)="onPhotoChange($event, i)" accept="image/*" />
        <span *ngIf="i === 0" class="avatar-label">Аватар</span>
      </div>
      <button class="upload-more" (click)="addPhotoSlot()">Добавить фото</button>
    </div>
  </div>

  <form [formGroup]="salonForm" (ngSubmit)="onSubmit()">
    <h2 id="about">О салоне</h2>
    <div class="form-row">
      <div class="left">
        <div class="form-text">
          <p class="inter-common">Название салона</p>
          <p class="inter-common">Телефоны</p>
        </div>
        <div class="form-inputs">
          <input type="text" formControlName="name" />
          <div class="phone-inputs">
            <input
              type="text"
              formControlName="phone"
              placeholder="+7 999 123 45 67"
              mask="+0 000 000 00 00"
              [instantPrefix]="true"
              [dropSpecialCharacters]="false"
            />
            <button type="button" class="add-phone">Добавить номер +</button>
          </div>
        </div>
      </div>
      <div class="form-address">
        <p>Адрес</p>
        <textarea formControlName="address"></textarea>
      </div>
    </div>

    <div class="textarea">
      <label>Описание салона</label>
      <textarea formControlName="description"></textarea>
    </div>

    <button *ngIf="salonForm.dirty" type="submit" [disabled]="salonForm.invalid">Сохранить</button>
    <p>{{this.salonForm.errors}}</p>
  </form>
</div>
