<h2 class="general-title montserrat-test">Услуги</h2>
<div class="specialists-top">
  <div class="search">
    <img src="lupa.svg" alt="Search">
    <input type="text" placeholder="Поиск" class="inter-common thin-border" (input)="onSearch($event)">
  </div>
  <app-dropdown
    [items]="topics"
    [defaultText]="'Выберите категорию'"
    (selectedValue)="onTopicSelected($event)">
  </app-dropdown>
  <button class="create-btn inter-common" (click)="openPopupCreate()">Добавить услугу</button>
</div>
<p class="num_spec inter-common">Количество услуг: {{ filteredServices.length }}</p>
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div class="container">
  <table>
    <thead>
    <tr>
      <th class="first"><p>Название</p></th>
      <th>Цена</th>
      <th>Длительность</th>
      <th>Детали</th>
      <th>Специалисты</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of filteredServices">
      <td class="first" style="font-style: italic; font-weight: 550">
        <p>{{ service.name }}</p>
      </td>
      <td>{{ service.lowestPrice }} ₸{{ service.highestPrice !== service.lowestPrice ? ' - ' + service.highestPrice + ' ₸' : '' }}</td>
      <td>{{ formatDuration(service.duration) }}</td>
      <td>{{ service.topic }}</td>
      <td>{{ service.staffIds.length }}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-business-service-create
  [isVisible]="showPopupCreate"
  (closePopup)="closePopupCreate($event)"
></app-business-service-create>
