<h2 class="general-title montserrat-test">Услуги</h2>
<div class="specialists-top">
  <div class="search">
    <img src="lupa.svg">
    <input type="text" placeholder="Поиск" class="inter-common thin-border">
  </div>
  <app-dropdown></app-dropdown>
  <button class="create-btn">Добавить услугу</button>
</div>
<p class="num_spec inter-common">Количество услуг: 5</p>
<div class="container">
  <table>
    <thead>
    <tr>
      <th class="first"><p>Название</p></th>
      <th>Цена</th>
      <th>Длительность</th>
      <th>Детали</th>
      <th>Специалисты</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="first" style="font-style: italic; font-weight: 550"><p>Укладка волос</p></td>
      <td>10000 ₸</td>
      <td>30 минут</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td class="first" style="font-style: italic; font-weight: 550"><p>Коррекция челки</p></td>
      <td>4000 ₸</td>
      <td>30 минут</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td class="first" style="font-style: italic; font-weight: 550"><p>Стрижка волос</p></td>
      <td>6000 ₸</td>
      <td>1 час</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td class="first" style="font-style: italic; font-weight: 550"><p>Стрижка волос + укладка</p></td>
      <td>15000 ₸</td>
      <td>1 час 30 минут</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td class="first" style="font-style: italic; font-weight: 550"><p>Детская стрижка</p></td>
      <td>4000 ₸</td>
      <td>30 минут</td>
      <td></td>
      <td>1</td>
    </tr>
    </tbody>
  </table>
</div>
