<!--<app-business-header></app-business-header>-->

<div class="container">
  <div class="banner">
    <div class="banner-left">
      <h1 class="montserrat-test banner-text">Онлайн-запись и автоматизация для сферы красоты</h1>
      <button class="btn-main" (click)="registerBusiness()">Оставить заявку</button>
    </div>
    <img src="computer.png" alt="computer" class="banner-img">
  </div>
</div>

<div class="container">
  <div class="grid">
    <div class="grid-item">
      <h2>более</h2>
      <h1>100</h1>
      <p>компаний в сфере красоты и здоровья работают с нами</p>
    </div>
    <div class="grid-item">
      <h2>более</h2>
      <h1>20000</h1>
      <p>записей в приложении каждый месяц</p>
    </div>
    <div class="grid-item">
      <h2>более</h2>
      <h1>100000</h1>
      <p>записей было сделано за 2024 год</p>
    </div>
    <div class="grid-item">
      <h2>более</h2>
      <h1>10000</h1>
      <p>возвращений за все время</p>
    </div>
  </div>
</div>

<app-contacts></app-contacts>

<!--<app-business-footer></app-business-footer>-->
