<h2 class="general-title montserrat-test">Оценка записи</h2>
<div class="container">
  <div class="history" (click)="navigateToHistory()">
    <img src="arrow_left.svg" alt="Left Arrow">
    <p>Назад к истории посещений</p>
  </div>
  <div class="review-form thin-border">
    <h2 class="general-title montserrat-test">Как прошёл ваш визит?</h2>

    <p class="citation">Нам важно ваше мнение — это помогает нам становиться лучше!</p>

    <div class="description">
      <div class="specification">
        <p class="category">Услуга</p>
        <p class="name">{{ serviceName }}</p>
      </div>
      <div class="specification">
        <p class="category">Дата записи</p>
        <p class="name">{{ formattedDateTime }}</p>
      </div>
      <div class="specification">
        <p class="category">Салон красоты</p>
        <p class="name">{{ businessName }}</p>
      </div>
      <div class="master">
        <div class="specification">
          <p class="category">Мастер</p>
          <p class="name">{{ staffName }}</p>
        </div>
        <img src="pfp_placeholder.png" alt="Аватар">
      </div>
    </div>

    <div class="mark">
      <p>Оцените услугу:</p>
      <div class="stars">
        <img class="star" *ngFor="let star of [1, 2, 3, 4, 5]"
             [src]="star <= reviewForm.rating ? '/star_filled.svg' : '/star_empty.svg'"
             (click)="setRating(star)"
             alt="Star">
      </div>
    </div>

    <div class="comment thin-font">
      <p>Оставьте комментарий:</p>
      <input type="text" class="thin-border" [(ngModel)]="reviewForm.comment" placeholder="Комментарий">
    </div>

    <button (click)="submitReview()">Отправить отзыв</button>
  </div>
</div>
