<h2 class="general-title montserrat-test">Оценка записи</h2>
<div class="container">
    <div class="history">
        <img src="arrow_left.svg" alt="Right Arrow">
        <p>Назад к истории посещений</p>
    </div>
    <div class="review-form thin-border">
        <h2 class="general-title montserrat-test">Как прошёл ваш визит?</h2>
    
        <p class="citation">Нам важно ваше мнение — это помогает нам становиться лучше!</p>
    
        <div class="description">
            <div сlass="specification">
                <p class="category">Услуга</p>
                <p class="name">Маникюр. Педикюр</p>
            </div>
            <div сlass="specification">
                <p class="category">Дата записи</p>
                <p class="name">10 октября 2024, в 13.00</p>
            </div>
            <div сlass="specification">
                <p class="category">Салон красоты</p>
                <p class="name">Oblako</p>
            </div>
            <div class="master">
                <div сlass="specification">
                    <p class="category">Мастер</p>
                    <p class="name">Аселя Калиева</p>
                </div>
                <img src="" alt="Aватар">
            </div>
            
        </div>
    
        <div class="mark">
            <p>Оцените услугу:</p>
            <img src="stars.svg" alt="5 stars">
        </div>
    
        <div class="comment thin-font">
            <p>Оставьте комментарий:</p>
            <input type="text" class="thin-border" value="Комментарий">
        </div>
    
        <button>Отправить отзыв</button>
    </div>
</div>


