<h2 class="general-title montserrat-test">Журнал</h2>
<div class="container">
  <div class="journal">
    <div class="date-slider">
      <button class="date-btn"><img src="arrow_left.svg" alt="arrow left"></button>
      <p class="date-text inter-common">22 февраля суббота</p>
      <button class="date-btn"><img src="arrow_right.svg" alt="arrow left"></button>
    </div>
    <div class="schedules">
      <div class="schedule">
        <div class="employee">
          <div class="img-div"><img src="pfp_placeholder.png" alt="employee profile picture"></div>
          <p class="inter-common">Аселя Калиева</p>
        </div>
        <div class="schedule-main">
          <div class="time-split" style="border: none;">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>9:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>9:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>10:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>10:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>11:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>11:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>12:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>12:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>13:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>13:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>14:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>14:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>15:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>15:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>16:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>16:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>17:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>17:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>18:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>18:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>19:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>19:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>20:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>20:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>21:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>21:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>22:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>22:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="schedule">
        <div class="employee">
          <div class="img-div"><img src="pfp_placeholder.png" alt="employee profile picture"></div>
          <p class="inter-common">Аселя Калиева</p>
        </div>
        <div class="schedule-main">
          <div class="time-split" style="border: none;">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>9:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>9:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>10:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>10:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>11:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>11:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>12:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>12:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>13:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>13:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>14:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>14:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>15:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>15:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>16:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>16:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>17:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>17:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>18:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>18:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>19:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>19:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>20:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>20:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>21:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>21:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>22:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>22:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="schedule">
        <div class="employee">
          <div class="img-div"><img src="pfp_placeholder.png" alt="employee profile picture"></div>
          <p class="inter-common">Аселя Калиева</p>
        </div>
        <div class="schedule-main">
          <div class="time-split" style="border: none;">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>8:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>8:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>9:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>9:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>10:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>10:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>11:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>11:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>12:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>12:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>13:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>13:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>14:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>14:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>15:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>15:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>16:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>16:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>17:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>17:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>18:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>18:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>19:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>19:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>20:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>20:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>21:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>21:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
          <div class="time-split">
            <div class="hour">
              <div class="normal">
                <p>22:00</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
            <div class="halfhour">
              <div class="normal">
                <p>22:30</p>
              </div>
              <a class="hover">
                <p>+</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
