body, html {
  margin: 0;
  padding: 0;
}

* {
  color: #000;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 50px;
}

.container {
  margin-top: 64px;
}

p {
  margin: 0;
  font-size: 16px;
}

.grey-small {
  font-size: 15px;
  color: #646464;
}

a {
  text-decoration: none;
  display: block;
  height: fit-content;
}

.btn-main {
  background-color: #F186AD;
  border: none;
  color: white;
  padding: 16px 38px;
  border-radius: 48px;
  font-size: 16px;
}

.btn-main:hover {
  background-color: #f16b9d;
  cursor: pointer;
}
.montserrat-test {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.general-title {
  margin-left: 40px;
  margin-top: 50px;
  color: #DE8EAB;
  margin-bottom: 0;
}

.inter-common {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.thin-border {
  background: none;
  border-radius: 5px;
  border: 1px solid black;
}

.thin-font {
  font-weight: 300;
}
