<!-- src/app/search/search.component.html -->
<div class="body">
  <div class="search-bar">
    <img src="search.svg" alt="Search" class="search-img">
    <input type="text" [formControl]="searchQuery" placeholder="Поиск услуг" (keyup.enter)="onSearch()">
    <button class="search-btn" (click)="onSearch()">Искать</button>
  </div>
  <div class="box">
    <div class="filters">
      <div class="filter-header">
        <img src="filter.svg" alt="Filters" class="filter-img">
        <h3 class="inter-common">Фильтры</h3>
      </div>

      <button class="clear-btn" (click)="clearFilters()">Очистить</button>
      <h3 class="inter-common">Рейтинг</h3>
      <div class="filter-group last-mrg">
        <label><input type="checkbox" [checked]="ratingFilters.length === 0" (change)="toggleRatingFilter(null)"> С
          любым рейтингом</label>
        <label><input type="checkbox" [checked]="ratingFilters.includes(3)" (change)="toggleRatingFilter(3)"> С
          рейтингом 3 и выше</label>
        <label><input type="checkbox" [checked]="ratingFilters.includes(4)" (change)="toggleRatingFilter(4)"> С
          рейтингом 4 и выше</label>
        <label><input type="checkbox" [checked]="ratingFilters.includes(5)" (change)="toggleRatingFilter(5)"> С
          рейтингом 5 и выше</label>
      </div>
      <button class="apply-btn" (click)="applyFiltersAndSort()">Применить</button>
    </div>

    <div class="results">
      <div class="results-header">
        <p class="result-count">{{ filteredBusinesses.length }} результатов</p>
        <app-dropdown
          [defaultText]="'По названию'"
          [defaultIsSelectable]="false"
          [items]="orderby"
          (selectedValue)="orderBy($event)"
        ></app-dropdown>
      </div>

      <div class="cards" *ngIf="filteredBusinesses.length > 0; else noResults">
        <div class="product-card" *ngFor="let business of filteredBusinesses">
          <a [routerLink]="['/salon', business.id]">
            <img [src]="'img.png'" alt="Салон красоты">
            <div class="btm-text">
              <p class="place-name">{{ business.name }}</p>
              <p class="grey-small">{{ business.address }}</p>
              <p class="rating">{{ (business.rating || 0).toFixed(1) }} ★</p>
            </div>
          </a>
        </div>
      </div>
      <ng-template #noResults>
        <p class="inter-common">Нет результатов</p>
      </ng-template>
    </div>
  </div>
</div>
