<h2 class="general-title montserrat-test">Специалисты</h2>
<div class="specialists-top">
  <div class="search">
    <img src="lupa.svg">
    <input type="text" placeholder="Поиск" class="inter-common thin-border" (input)="onSearch($event)">
  </div>
  <app-dropdown
    [items]="positions"
    [defaultText]="'Выберите профессию'"
    (selectedValue)="onPositionSelected($event)"></app-dropdown>
  <button class="create-btn" (click)="openPopupCreate()">Создать специалиста</button>
</div>
<p class="num_spec inter-common">Количество специалистов: {{filteredStaff.length}}</p>
<div class="container">
  <table>
    <thead>
    <tr>
      <th class="first"><p>Имя</p></th>
      <th>Профессия</th>
      <th>Услуги</th>
      <th>Рейтинг</th>
      <th>График работы</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of filteredStaff">
      <td class="first">
        <div class="profile" (click)="openPopupUpdate()">
          <div class="img-div">
            <img src="pfp_placeholder.png" alt="Фото">
          </div>
          <div class="profile-text">
            <p class="name">{{s.name}} {{s.surname}}</p>
            <p class="phone">{{s.phone}}</p>
          </div>
        </div>
      </td>
      <td>{{s.position}}</td>
      <td>{{s.services.length}}</td>
      <td>8.5</td>
      <td>каждый день</td>
    </tr>
    </tbody>
  </table>
</div>

<app-business-specialist-popup
  [isVisible]="showPopupCreate"
  (closePopup)="closePopupCreate($event)"
></app-business-specialist-popup>

<app-business-specialist-change
  [isVisible]="showPopupUpdate"
  (closePopup)="closePopupUpdate()"
></app-business-specialist-change>
