<app-header></app-header>
<div class="profile">
  <h2>Личный кабинет</h2>
  <img src="profile.jpg" alt="Аватар">
  <p>Алиса</p>
  <p>+7 777 777 77 77</p>
  <div class="profile-buttons">
    <button class="btn">Редактировать профиль</button>
    <button class="btn">Сменить пароль</button>
  </div>

</div>
<div class="edit-form">
  <h2>Редактировать данные</h2>
  <div class="form-group">
    <!-- <label>Имя</label> -->
    <input type="text" value="Анита">
  </div>
  <div class="form-group">
    <!-- <label>Фамилия</label> -->
    <input type="text" value="">
  </div>
  <div class="form-group">
    <!-- <label>Телефон</label> -->
    <input type="text" value="+7 777 7777 77 77">
  </div>
  <div class="form-group">
    <!-- <label>E-mail</label> -->
    <input type="email" value="">
  </div>
  <div class="form-group">
    <!-- <label>Дата рождения</label> -->
    <input type="date" value="2000-01-01">
  </div>
  <div class="form-group">
    <!-- <label>Пол</label> -->
    <input type="radio" name="gender" checked> Женский
    <input type="radio" name="gender"> Мужской
  </div>
  <button class="btn">Сохранить</button>
</div>
<app-footer></app-footer>
<!-- <div class="profile">
    <img src="profile.jpg" alt="Аватар">
    <h2>Алиса</h2>
    <p>+7 777 777 77 77</p>
    <button class="btn">Редактировать профиль</button>
    <button class="btn">Сменить пароль</button>
</div>
<div class="edit-form">
    <h3>Редактировать данные</h3>
    <div class="form-group">
        <label>Имя</label>
        <input type="text" value="Анита">
    </div>
    <div class="form-group">
        <label>Фамилия</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label>Телефон</label>
        <input type="text" value="+7 777 7777 77 77">
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" value="">
    </div>
    <div class="form-group">
        <label>Дата рождения</label>
        <input type="date" value="2000-01-01">
    </div>
    <div class="form-group">
        <label>Пол</label>
        <input type="radio" name="gender" checked> Женский
        <input type="radio" name="gender"> Мужской
    </div>
    <button class="btn">Сохранить</button>
</div> -->
