.body{
    display: flex;
    flex-direction: row;
    gap:108px;
    margin-bottom: 172px;
    padding-top: 34px;
}

h2{
    margin-bottom: 59px;
    margin-left: 0px;
    margin-top: 0px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 122px;
    padding:0px;
}
.photo {
    position: relative;
    display: inline-block;
}

.profile-img{
    width:153px;
    border-radius: 50%;
    display: block;
}

.add-btn{
    border:none;
    background-color: none;
}

.add-img{
    width:41px;
    position: absolute;
    top: 65%;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.name{
    font-size: 20px;
    margin-bottom: 8px;
}
.number{
    font-size: 16px;
    margin-bottom: 65px;
}

.btn{
    background-color: #F186AD;
    border-radius: 25px;
    border:none;
    color:white;
    height:45px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    width: 231px;
}

.btn:disabled{
  background-color: #eeeeee;
}

.input-group{
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.personal-data{
    display: flex;
    flex-direction: column;
    gap:26px;
    margin-bottom: 42px;
}

.personal-data input{
    padding: 16px 26px ;
    width:364px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.gender-question{
    display: flex;
    flex-direction: column;
    gap:17px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
}

.options{
    display: flex;
    flex-direction: column;
    gap:17px;
}

.line{
    margin-top: 122px;
    background-color: #929292;
    height: 688px;
    width:1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
