<header>
  <a routerLink="/business"><img src="logo_business.svg" alt="beauty go business"></a>
  <div class="header-right">
    <a routerLink="./journal">Журнал</a>
    <a routerLink="./specialists">Персонал</a>
    <a routerLink="./services">Услуги</a>
    <a routerLink="./page">Салон</a>
    <a routerLink="./#" class="a-top" (click)="toggleDropdown()">
      <img src="profile.svg" alt="pfp">
    </a>
  </div>

  <div *ngIf="isDropdownOpen" class="dropdown-menu">
    <a routerLink="account" class="inter-common">Личный кабинет</a>
    <a routerLink="./authentication" class="inter-common">Войти</a>
  </div>
</header>
